table,tr,thead,th,td{
    border: 1px solid black;
    align-items: center;
}

.bgBlack{
    background-color: black;
}

ul{
	text-align: center;
}

.colorWhite{
    color: white;
	text-align: center;
}